.navbar{
    font-family: 'Sarabun',sans-serif;
}
.section{
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Sarabun',sans-serif;
    text-align: center;
}
.main-hading{
    color: rgb(255, 0, 8);
    font-size: 25px;
    text-align: center;
}
.underline{
    height: 4px;
    width: 10rem;
    background-color:rgb(52, 43, 226);
    margin-top:1opx;
    margin-bottom:10px;
}
h3{
    text-align: center;
    font-family: 'Sarabun',sans-serif;

}
.bg-c-light{
    background-color:aliceblue ;
}